.RelatedCardDetailsContainer {
    width: 100%;
    margin-top: 24px;
}
.RelatedCardDetails {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.47px;
    color: #000000;
    margin: 0;
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .RelatedCardDetails {
        padding-right: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 799px) {
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1400px) and (max-width: 1900px) {
}
@media only screen and (min-width: 1920px) and (max-width: 1999px) {
}